
blockquote {
  .http {
    margin: $main-padding - 8px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.1);

    .method-get {
      color: white;
      background: green;
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      padding: 4px 8px;
      text-transform: uppercase;
    }

    .path {
      display: inline-block;
      margin-left: 12px;
      font-size: 14px;
    }
  }
}
