# Dashboards

Dashboards allow you to visualize data and control Adafruit IO connected projects from any modern web browser. 
Blocks such as charts, sliders, and buttons are available to help you quickly get your IoT project up and running without the need 
for any custom code.

## All dashboards

> HTTP Request
> <div class="http"><span class="method-get">GET</span><code class="path">/api/v2/{username}/dashboards</code></div>

```shell
$ curl -H "X-AIO-Key: {io_key}" https://io.adafruit.com/api/v2/{username}/dashboards
```

```python
```

```cpp
```

```ruby
```

> Response Sample:

```json
[
  {
    "name": "string",
    "description": "string",
    "key": "string",
    "blocks": [
      {
        "name": "string",
        "description": "string",
        "key": "string",
        "visual_type": "string",
        "column": 0,
        "row": 0,
        "size_x": 0,
        "size_y": 0,
        "block_feeds": [
          {
            "id": "string",
            "feed": null,
            "group": null
          }
        ]
      }
    ]
  }
]
```

An array of dashboards


### Path Parameters

Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
username | string | true | a valid username string




## Create a Dashboard

> HTTP Request
> <div class="http"><span class="method-post">POST</span><code class="path">/api/v2/{username}/dashboards</code></div>

```shell
$ curl -F 'name=newdash' -H "X-AIO-Key: {io_key}" https://io.adafruit.com/api/v2/{username}/dashboards
```

```python
```

```cpp
```

```ruby
```

> Response Sample:

```json
{
  "name": "string",
  "description": "string",
  "key": "string",
  "blocks": [
    {
      "name": "string",
      "description": "string",
      "key": "string",
      "visual_type": "string",
      "column": 0,
      "row": 0,
      "size_x": 0,
      "size_y": 0,
      "block_feeds": [
        {
          "id": "string",
          "feed": null,
          "group": null
        }
      ]
    }
  ]
}
```

New Dashboard


### Path Parameters

Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
username | string | true | a valid username string


### Body Parameters

Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
dashboard | object | true |



## Return Dashboard

> HTTP Request
> <div class="http"><span class="method-get">GET</span><code class="path">/api/v2/{username}/dashboards/{id}</code></div>

```shell
$ curl -H "X-AIO-Key: {io_key}" https://io.adafruit.com/api/v2/{username}/dashboards/{id}
```

```python
```

```cpp
```

```ruby
```

> Response Sample:

```json
{
  "name": "string",
  "description": "string",
  "key": "string",
  "blocks": [
    {
      "name": "string",
      "description": "string",
      "key": "string",
      "visual_type": "string",
      "column": 0,
      "row": 0,
      "size_x": 0,
      "size_y": 0,
      "block_feeds": [
        {
          "id": "string",
          "feed": null,
          "group": null
        }
      ]
    }
  ]
}
```

Dashboard response


### Path Parameters

Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
username | string | true | a valid username string
id | string | true |



## Replace a Dashboard

> HTTP Request
> <div class="http"><span class="method-put">PUT</span><code class="path">/api/v2/{username}/dashboards/{id}</code></div>

```shell
$ curl -F 'name=newdash' -H "X-AIO-Key: {io_key}" https://io.adafruit.com/api/v2/{username}/dashboards/{id}
```

```python
```

```cpp
```

```ruby
```

> Response Sample:

```json
{
  "name": "string",
  "description": "string",
  "key": "string",
  "blocks": [
    {
      "name": "string",
      "description": "string",
      "key": "string",
      "visual_type": "string",
      "column": 0,
      "row": 0,
      "size_x": 0,
      "size_y": 0,
      "block_feeds": [
        {
          "id": "string",
          "feed": null,
          "group": null
        }
      ]
    }
  ]
}
```

Updated dashboard


### Path Parameters


Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
username | string | true | a valid username string
id | string | true |


### Body Parameters


Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
dashboard | object | true |


## Delete a Dashboard

> HTTP Request
> <div class="http"><span class="method-delete">DELETE</span><code class="path">/api/v2/{username}/dashboards/{id}</code></div>

```shell
$ curl -H "X-AIO-Key: {io_key}" https://io.adafruit.com/api/v2/{username}/dashboards/{id}
```

```python
```

```cpp
```

```ruby
```

> Response Sample:

```json
"string"
```

Deleted Dashboard successfully




### Path Parameters


Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
username | string | true | a valid username string
id | string | true |










