# Triggers

## All triggers for current user

> HTTP Request
> <div class="http"><span class="method-get">GET</span><code class="path">/api/v2/{username}/triggers</code></div>

```shell
$ curl -H "X-AIO-Key: {io_key}" https://io.adafruit.com/api/v2/{username}/triggers
```

> Response Sample:

```json
[
  {
    "name": "string"
  }
]
```

An array of triggers


### Path Parameters

Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
username | string | true | a valid username string



## Create a new Trigger

> HTTP Request
> <div class="http"><span class="method-post">POST</span><code class="path">/api/v2/{username}/triggers</code></div>

```shell
$ curl -H "X-AIO-Key: {io_key}" https://io.adafruit.com/api/v2/{username}/triggers
```

> Response Sample:

```json
{
  "name": "string"
}
```

New Trigger


### Path Parameters

Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
username | string | true | a valid username string


### Body Parameters

Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
trigger | object | true |



## Returns Trigger based on ID

> HTTP Request
> <div class="http"><span class="method-get">GET</span><code class="path">/api/v2/{username}/triggers/{id}</code></div>

```shell
$ curl -H "X-AIO-Key: {io_key}" https://io.adafruit.com/api/v2/{username}/triggers/{id}
```

> Response Sample:

```json
{
  "name": "string"
}
```

Trigger response


### Path Parameters

Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
username | string | true | a valid username string
id | string | true |



## Replace an existing Trigger

> HTTP Request
> <div class="http"><span class="method-put">PUT</span><code class="path">/api/v2/{username}/triggers/{id}</code></div>

```shell
$ curl -H "X-AIO-Key: {io_key}" https://io.adafruit.com/api/v2/{username}/triggers/{id}
```

> Response Sample:

```json
{
  "name": "string"
}
```

Updated trigger


### Path Parameters

Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
username | string | true | a valid username string
id | string | true |


### Body Parameters

Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
trigger | object | true |



## Delete an existing Trigger

> HTTP Request
> <div class="http"><span class="method-delete">DELETE</span><code class="path">/api/v2/{username}/triggers/{id}</code></div>

```shell
$ curl -H "X-AIO-Key: {io_key}" https://io.adafruit.com/api/v2/{username}/triggers/{id}
```

> Response Sample:

```json
"string"
```

Deleted Trigger successfully


### Path Parameters

Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
username | string | true | a valid username string
id | string | true |


