# Users

Adafruit IO can return information about your username, activity-level, rate-limit and current actions. 

## Get User Info

> HTTP Request
> <div class="http"><span class="method-get">GET</span><code class="path">/api/v2/user</code></div>

```shell
$ curl -H "X-AIO-Key: {io_key}" https://io.adafruit.com/api/v2/user
```

> Response Sample:

```json
{
  "id": 0,
  "name": "string",
  "color": "string",
  "username": "string",
  "time_zone": "string",
  "created_at": "string",
  "updated_at": "string"
}
```

A User record



## Get Detailed User Info

> HTTP Request
> <div class="http"><span class="method-get">GET</span><code class="path">/api/v2/{username}/throttle</code></div>

```shell
$ curl -H "X-AIO-Key: {io_key}" https://io.adafruit.com/api/v2/{username}/throttle
```

> Response Sample:

```json
{
  "data_rate_limit": 0,
  "active_data_rate": 0
}
```

Data rate limit and current actions.


### Path Parameters

Parameter |   Type  |  Required |       Description
--------- | ------- | --------- | -----------------------
username | string | true | a valid username string










