---

title: Adafruit IO API Cookbook

language_tabs:
  - shell: CURL
  - cpp: Arduino
  - python: Python
  - python: Circuitpython
  - ruby: Ruby

toc_prepend:
- href: ./
  text: Adafruit IO HTTP API
- href: mqtt
  text: Adafruit IO MQTT API

toc_footers:
  - <a href='https://io.adafruit.com'>Adafruit IO</a>
  - <a href='https://io.adafruit.com/blog'>Adafruit IO News</a>
  - <a href='https://io.adafruit.com/plus'>Adafruit IO Plus</a>
  - <a href='https://io.adafruit.com/terms'>Adafruit IO ToS</a>
  - <a href='https://io.adafruit.com/feedback'>Submit Feedback</a>

includes:
  - cookbook.md.erb
  - cookbook/feed_identifiers.md.erb
  - cookbook/formatting_values.md.erb
  - cookbook/images.md.erb
  - cookbook/sending_json.md.erb
  - cookbook/webhook_receivers.md.erb
  - cookbook/securing_io_account.md.erb

search: true
---

