---
title: Adafruit IO API Reference

language_tabs:
  - shell: CURL
  - cpp: Arduino
  - python: Python
  - python: Circuitpython
  - ruby: Ruby

toc_footers:
  - <a href='http://io.adafruit.com'>Adafruit IO</a>
  - <a href='https://io.adafruit.com/blog'>Adafruit IO News</a>
  - <a href='https://io.adafruit.com/support'>Adafruit IO Support</a>
  - <a href='https://io.adafruit.com/plus'>Adafruit IO Plus</a>
  - <a href='https://io.adafruit.com/terms'>Adafruit IO ToS</a>
  - <a href='http://io.adafruit.com/api'>ADAFRUIT IO API DOCS ALPHA</a>


includes:
  - introduction
  - client_libraries
  - authentication.md.erb
  - feeds
  - data
  - groups
  - mqtt
  - errors

search: true
---
