---
title: Adafruit IO API Reference

language_tabs:
  - shell: CURL
  - cpp: Arduino
  - python: Python
  - python: Circuitpython
  - ruby: Ruby

toc_footers:
  - <a href='http://io.adafruit.com'>Adafruit IO</a>
  - <a href='https://io.adafruit.com/blog'>Adafruit IO News</a>
  - <a href='https://io.adafruit.com/plus'>Adafruit IO Plus</a>
  - <a href='https://io.adafruit.com/terms'>Adafruit IO ToS</a>
  - <a href='https://io.adafruit.com/feedback'>Submit Feedback</a>

toc_append:
  - href: mqtt
    text: Adafruit IO MQTT API
  - href: cookbook
    text: API Cookbook

includes:
  - introduction
  - authentication.md.erb
  - client_libraries.md.erb
  - rate_limiting
  - http/pagination

  - http/data.md.erb
  - http/feeds.md.erb
  - http/groups.md.erb

  - http/webhooks.md.erb
  - http/actions.md.erb
  - http/activities.md.erb
  - http/blocks.md.erb
  - http/dashboards.md.erb
  - http/permissions.md.erb
  - http/users.md.erb
  - http/tokens.md.erb
  - http/services.md.erb

  - errors

search: true
---
