---
title: Adafruit IO API Reference

language_tabs:
  - shell: CURL
  - cpp: Arduino
  - python: Python
  - python: Circuitpython
  - ruby: Ruby

toc_footers:
  - <a href='http://io.adafruit.com'>Adafruit IO</a>
  - <a href='https://io.adafruit.com/blog'>Adafruit IO News</a>
  - <a href='https://io.adafruit.com/plus'>Adafruit IO Plus</a>
  - <a href='https://io.adafruit.com/terms'>Adafruit IO ToS</a>
  - <a href='https://io.adafruit.com/feedback'>Submit Feedback</a>

toc_prepend:
  - href: ./
    text: Adafruit IO HTTP API

toc_append:
  - href: cookbook
    text: API Cookbook

includes:
  - mqtt/mqtt_index.md.erb
  - mqtt/_mqtt_qos.md.erb
  - mqtt/_mqtt_data_format.md.erb
  - mqtt/mqtt_topics.md.erb
  - mqtt/mqtt_group_topics.md.erb

  - errors

search: true
---

